.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navigationList {
  display: flex;
}

.navLink {
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.2s ease-out;
}

.navLink:hover {
  border-bottom: 3px solid #00c6ed;
  background-color: rgb(18, 18, 18);
}

.activeNavLink {
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgb(18, 18, 18);
  border-bottom: 3px solid #00c6ed;
}

.linkedin {
  color: #fff;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-out;
}
.linkedin:hover {
  color: rgb(72, 72, 175);
}
.github {
  color: #fff;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-out;
}
.github:hover {
  color: rgb(255, 145, 0);
}
.resume {
  color: #fff;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-out;
}
.resume:hover {
  color: tomato;
}

.contactsWrapper {
  display: flex;
  align-items: center;

  gap: 30px;
}
