.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 35px 15px;
}

.projectsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 40px;
  color: #222;
}
@media screen and (min-width: 1280px) {
  .title {
    width: 85%;
  }
  .projectsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
