.post {
  display: flex;
  flex-direction: column;
  padding: 35px 15px;
}

.title {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 26px;
  color: #222;
}

.data {
  color: #828282;
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .post {
    padding: 35px 320px;
  }

  .title {
    font-size: 40px;
  }
}
