.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 15px;
}

.title {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 40px;
  color: #222;
}

.sourceButton {
  border: none;
  background-color: #00c6ed;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 40px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.aboutTitle {
  font-size: 18px;
  width: 100%;
}

.about {
  margin-bottom: 20px;
}

.techList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.techItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  background-color: #222;
  border-radius: 5px;
  width: 45%;
}
